## Load title.akas.tsv

In [1]:
import pandas as pd
import numpy as np

In [2]:
akas_df = pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz", sep="\t", dtype={'isOriginalTitle': str})

In [8]:
akas_df.head(20)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0
10,tt0000002,3,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0
11,tt0000002,4,Der Clown und seine Hunde,DE,\N,\N,literal title,0
12,tt0000002,5,Clovnul si cainii sai,RO,\N,imdbDisplay,\N,0
13,tt0000002,6,Клоун и его собаки,RU,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
15,tt0000002,8,道化師と犬,JP,ja,imdbDisplay,\N,0
16,tt0000003,1,Sarmanul Pierrot,RO,\N,imdbDisplay,\N,0
17,tt0000003,2,Szegény Pierrot,HU,\N,imdbDisplay,\N,0
18,tt0000003,3,哀れなピエロ,JP,ja,imdbDisplay,\N,0
19,tt0000003,4,Бідний П'єро,UA,\N,imdbDisplay,\N,0

In [4]:
akas_df.tail(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
29865899,tt9916850,7,Folge #3.19,DE,de,\N,\N,0
29865900,tt9916852,1,Episodio #3.20,ES,es,\N,\N,0
29865901,tt9916852,2,Épisode #3.20,FR,fr,\N,\N,0
29865902,tt9916852,3,Folge #3.20,DE,de,\N,\N,0
29865903,tt9916852,4,エピソード #3.20,JP,ja,\N,\N,0
29865904,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
29865905,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
29865906,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
29865907,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
29865908,tt9916856,2,The Wind,\N,\N,original,\N,1

In [5]:
akas_df.replace('\\N', np.nan)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
...,...,...,...,...,...,...,...,...
29865904,tt9916852,5,Episódio #3.20,PT,pt,NaN,NaN,0
29865905,tt9916852,6,Episodio #3.20,IT,it,NaN,NaN,0
29865906,tt9916852,7,एपिसोड #3.20,IN,hi,NaN,NaN,0
29865907,tt9916856,1,The Wind,DE,NaN,imdbDisplay,NaN,0
29865908,tt9916856,2,The Wind,NaN,NaN,original,NaN,1

In [6]:
akas_df[akas_df.titleId == 'tt9914928']

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
29862877,tt9914928,1,Noblesse Oblige,\N,\N,original,\N,1
29862878,tt9914928,2,Noblesse Oblige,GB,\N,imdbDisplay,\N,0

In [7]:
akas_df[akas_df.titleId == 'tt9916852']

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
29865900,tt9916852,1,Episodio #3.20,ES,es,\N,\N,0
29865901,tt9916852,2,Épisode #3.20,FR,fr,\N,\N,0
29865902,tt9916852,3,Folge #3.20,DE,de,\N,\N,0
29865903,tt9916852,4,エピソード #3.20,JP,ja,\N,\N,0
29865904,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
29865905,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
29865906,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0