## Load name.basics.tsv

In [2]:
import pandas as pd

In [3]:
name_df = pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz", sep="\t")

In [5]:
name_df.head(10)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0031983,tt0072308,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0071877,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0056404,tt0054452,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0036855,tt0038109,tt0077711,tt0034583"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,soundtrack,producer","tt0033870,tt0034583,tt0042593,tt0043265"
7,nm0000008,Marlon Brando,1924,2004,"actor,soundtrack,director","tt0078788,tt0047296,tt0068646,tt0070849"
8,nm0000009,Richard Burton,1925,1984,"actor,soundtrack,producer","tt0057877,tt0087803,tt0061184,tt0059749"
9,nm0000010,James Cagney,1899,1986,"actor,soundtrack,director","tt0042041,tt0035575,tt0031867,tt0029870"

In [4]:
name_df.tail(10)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
11310221,nm9993709,Lu Bevins,\N,\N,"director,producer,writer","tt11772812,tt11702702,tt11772904,tt14508814"
11310222,nm9993710,Nestor Rudnytskyy,\N,\N,NaN,\N
11310223,nm9993711,David Gluzman,\N,\N,NaN,\N
11310224,nm9993712,Corny O'Connell,\N,\N,NaN,\N
11310225,nm9993713,Sambit Mishra,\N,\N,writer,"tt8325250,tt10449366,tt15134202,tt10709066"
11310226,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt2455546"
11310227,nm9993716,Essias Loberg,\N,\N,NaN,\N
11310228,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
11310229,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
11310230,nm9993719,Andre Hill,\N,\N,NaN,\N