In [1]:
import pandas as pd

In [2]:
basics_df = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep="\t", low_memory=False)

In [3]:
akas_df = pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz", sep="\t", dtype={'isOriginalTitle': str})

In [26]:
#on isole les films en filtrant sur la colonne titleType
basics_df_movies =  basics_df[basics_df['titleType'] == 'movie']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...
8343269,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
8343296,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
8343308,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
8343319,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N
8343330,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

In [5]:
#on remplace les \N par de NaT
basics_df_movies_nan = basics_df_movies.replace('\\N', pd.NaT)

In [27]:
#on récupère les colonnes tconst et runtimeMinutes
movies = basics_df_movies_nan[['tconst', 'runtimeMinutes','titleType']]

In [28]:
#on retire les lignes dans lesquelles on a un NaT
movies_dropna = movies.dropna()

In [29]:
#on transforme le runtimeMinutes en unt
movies_int = movies_dropna.astype({'runtimeMinutes': int})

In [31]:
# on séléctionne les long métrage de plus de 58 minutes et de moins de 4h30
movies_int = movies_int[(movies_int['runtimeMinutes'] >= 58) & (movies_int['runtimeMinutes'] <= 270)]

In [49]:
#jointure entre la table title basics filtrée et la table title akas
film_list = pd.merge(movies_int,akas_df,how='left',left_index=True,right_index=True)

In [50]:
#recherche des long métrage en vf
list_movies_vfr = film_list[film_list['language'] == 'fr']
list_movies_vfr.tail(10)

,tconst,runtimeMinutes,titleType,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
8340046,tt9909856,61,movie,tt12272054,7,Épisode #1.383,FR,fr,\N,\N,0
8340218,tt9910238,80,movie,tt12272128,4,Épisode #1.326,FR,fr,\N,\N,0
8340551,tt9910930,75,movie,tt12272250,6,Épisode #1.25,FR,fr,\N,\N,0
8340948,tt9911750,131,movie,tt12272366,7,Épisode #1.83,FR,fr,\N,\N,0
8341644,tt9913178,59,movie,tt12272564,5,Épisode #1.41,FR,fr,\N,\N,0
8341711,tt9913320,71,movie,tt12272582,4,Épisode #1.49,FR,fr,\N,\N,0
8341835,tt9913594,72,movie,tt12272616,5,Épisode #1.41,FR,fr,\N,\N,0
8342125,tt9914192,98,movie,tt12272700,4,Épisode #1.56,FR,fr,\N,\N,0
8342429,tt9914828,102,movie,tt12272848,3,Épisode #1.18,FR,fr,\N,\N,0
8342473,tt9914928,105,movie,tt12272862,4,Épisode #1.203,FR,fr,\N,\N,0

In [39]:
basics_df = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep="\t", low_memory=False)

In [54]:
basics_df[basics_df['tconst']=='tt9910238']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8340218,tt9910238,movie,Be 5min. vede,Be 5min. vede,0,2017,\N,80,"Comedy,Romance"